# dependency from WhisperStreaming:
librosa
tiktoken

# from SimulWhisper
torch

# for using Silero VAD with WhisperStreaming, torchaudio is needed
torchaudio

# from Whisper
tqdm

# both Whisper and SimulWhisper. SimulWhisper requires <3
triton>=2.0.0,<3;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"
